<?xml version="1.0" encoding="UTF-8" ?>
<configuration> 
    <!-- definition of appender STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <!-- appender referenced after it is defined -->
        <appender-ref ref="STDOUT" />
    </root>
    
    <root level="TRACE">
        <!-- appender referenced after it is defined -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
